<h1>Assessments</h1>
<br>
<div class="list-group">
  <% @assessments.each do |assessment| %>
    <a href='<%= assessment_hazards_path(assessment) %>' class="list-group-item"> 
      <h2 class="list-group-item-heading"><%= assessment.name %></h2>
      <small><%= l(assessment.created_at, format: '%b %d, %Y') %></small>
      <p class="list-group-item-text"><span class="lead"><%= assessment.workplace %> - </span><%= assessment.description %></p>
    </a>
  <% end %>
</div>

<% if !@assessments.any? %>
  <%= link_to 'New Assessment', new_assessment_path %>
<% end %>


