<p>
  <strong>Name:</strong>
  <%= @assessment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assessment.description %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @assessment.workplace %>
</p>

<%= link_to 'Hazards', assessment_hazards_path(@assessment) %> |
<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Destroy', @assessment, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', assessments_path %>
