<%= form_for([@assessment, @hazard]) do |f| %>
  <% if @hazard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hazard.errors.count, "error") %> prohibited this hazard from being saved:</h2>

      <ul>
      <% @hazard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, "Hazard" %><br>
    <%= f.text_area :name, class: 'form-control'  %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>
  <div class="field form-group">
    <%= f.label :exposure, "How often are employees exposed?" %><br>
    <%= f.select(:exposure, options_for_select(
      [
        ['All day', 1],
        ['Daily', 2],
        ['Once per week', 3],
        ['Once a month', 4],
        ['Few times a year', 5],
        ['Yearly or less', 6]
        ], 3), {}, { class: 'form-control' }
    ) %>
  </div>
  <div class="field form-group">
    <%= f.label :occurance, "What's the chance of it happening?"%><br>
    <%= f.select(:occurance, options_for_select(
      [
        ['Has happened/is happening', 1],
        ['Probably – it could happen', 2],
        ['Seldom but possible', 3],
        ['Very seldom, but possible', 4],
        ['Slight possibility', 5],
        ['Never, it\'s practically impossible', 6]
      ], 3), {}, { class: 'form-control' }
    ) %>
  </div>
  <div class="field form-group">
    <%= f.label :consequence, "What happens if you get hurt?" %><br>
    <%= f.select(:consequence, options_for_select(
      [
        ['Fatality or permanent disability, significant loss', 1],
        ['Serious injury or illness with lost time or other loss', 2],
        ['Moderate injury or illness with lost time or other loss', 3],
        ['Minor injury or illness without lost time or other loss', 4],
        ['No injury or illness, lost time or other loss', 5]
      ], 3), {}, { class: 'form-control' }
    ) %>
  </div>
  <div class="field form-group">
    <%= f.label :control %><br>
    <%= f.text_area :control, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
