<p class="text-right">
  <% if @assessment.user == current_user %>
    <%= link_to 'Edit', edit_assessment_hazard_path(@assessment, @hazard.id) %> |
    <%= link_to 'Destroy', assessment_hazard_path(@assessment, @hazard.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', assessment_hazards_path(@assessment) %>
</p>

<h1><%= @hazard.name %></h1>
  <p><%= @hazard.description %></p>
  <hr>
  <h2>Rating Info</h2>


<div class="row">
  <div class="col-md-4"><p><strong>Rating</strong> <%= @hazard.rating %></p></div>
  <div class="col-md-4">  <p><strong>Exposure</strong> <%= @hazard.exposure %></p>
  <p><strong>Occurance</strong> <%= @hazard.occurance %></p></div>
  <div class="col-md-4">  <p><strong>Probability</strong> <%= @hazard.probability %></p>
  <p><strong>Consquence</strong> <%= @hazard.consequence %></p></div>
</div>

<hr>
  <h2>Current Controls</h2>
  <p><%= @hazard.control %></p>

<hr>

<% if @needed_control.present? %>
  <%= render template: 'needed_controls/show' %>
<% else %>
  <% if @assessment.user == current_user %>
    <%= link_to 'Add action item', new_assessment_hazard_needed_control_path(@assessment, @hazard, @needed_control) %>
  <% end %>
<% end %>





