<%= form_for([@assessment, @hazard, @needed_control]) do |f| %>
  <% if @needed_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@needed_control.errors.count, "error") %> prohibited this needed_control from being saved:</h2>

      <ul>
      <% @needed_control.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="field checkbox">
    <%= f.label :completed do %>
      <%= f.check_box :completed %>
      Completed
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
