<p id="notice"><%= notice %></p>

<h1>Listing Needed Controls</h1>

<table>
  <thead>
    <tr>
      <th>Hazard</th>
      <th>Content</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @needed_controls.each do |needed_control| %>
      <tr>
        <td><%= needed_control.hazard %></td>
        <td><%= needed_control.content %></td>
        <td><%= needed_control.completed %></td>
        <td><%= link_to 'Show', needed_control %></td>
        <td><%= link_to 'Edit', edit_needed_control_path(needed_control) %></td>
        <td><%= link_to 'Destroy', needed_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Needed control', new_needed_control_path %>
